a {
    text-decoration: none;
    color: inherit;
}
.item-container {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    background-color: white;
    margin: 10px;
    transition: all 0.3s;
}
.item-container:hover {
    box-shadow: 4px 4px 1px rgba(0,0,0,0.16);
    cursor: pointer;
}
.item-wrap {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    margin-left: 10px;
    /* background-color: gray; */
}
.item-cover {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: orange;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-upper {
    margin-top: 5px;
    font-size: 15px;
}
.item-seller {    
    margin-top: 5px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-decoration: underline;
}
.item-seller i {
    position: relative;
    /* top: -5px; */
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    
}
.item-seller a {
    display: inline-block;
    width: 100px;
    height: 20px;
    /* white-space: nowrap; */
    overflow: hidden; 
    /* word-break: keep-all; */
    /* overflow: hidden; */    
}
.item-sells {
    float: right;
    display: inline-block;
    font-size: 12px;
    color: gray;
}
.item-price {
    color: rgb(255, 127, 42);
    font-weight: bold;

}
#main-container {
    overflow: visible;
}
#main-wrap {
    overflow: visible;
}
#main-wrapper {
    top: 0;
    overflow: visible;
}
#filter {
    /* float: left; */
    position: relative;
    display: inline-block;
    width: 250px;
    height: 100%;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    transition: box-shadow 0.3s;
    min-height: 500px;
}
#item-list {
    float: right;
    background-color: white;
    display: inline-block;
    position: relative;
    /* left: 300px; */
    width: calc(100% - 280px);
    min-height: 500px;
    margin-left: 10px;
    margin-top: 20px;
}

.it-cart {
    display: inline-block;
    display: none;

    position: absolute;
    top:0;
    left: 225px;
    z-index: 99;
    
    width: 200px;
    height: 300px;
    background-color: rgba(255, 241, 225, 0.966);
    text-align: center;
}
.it-cart > i {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    line-height: 70px;
    margin-top: 120px;
    font-size: 50px;
    color: rgba(253, 150, 31, 0.842);
    background-color: rgba(255, 244, 231, 0.842);
    border-radius: 50%;
    
}
@keyframes spike {
    0% {
        background-color: rgb(255, 170, 42);
    }
    50% {
        background-color: rgb(255, 241, 219);
    }
    100% {
        background-color: rgb(255, 170, 42);
    }
}
@keyframes jump {
    0% {
        margin-top: 120px;
    }
    50% {
        margin-top: 100px;
    }
    100% {
        margin-top: 120px;
    }
}

#totop {
    display: none;
    position: fixed;
    right: 150px;
    bottom: 250px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 170, 42);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

#totop:hover {
    cursor: pointer;
    background-color: rgb(255, 191, 95);
}

@keyframes ap-totop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}